body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e2e9ef;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

form {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
}

.toggle-password {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.toggle-password::before {
    content: "";
    background-image: url('images/eye-regular.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    display: block;
    opacity: 0.6;
}

.toggle-password-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-image: url('images/eye-regular.png');
    background-size: cover;
    opacity: 0.6;
    pointer-events: none;
}

.toggle-password input[type="checkbox"] {
    display: none;
}

.toggle-password input[type="checkbox"]:checked + .toggle-password-icon {
    background-image: url('images/eye-slash-regular.png');
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}