body {
    background-image: url("images/HollyWood.jpg");
    background-color: #cccccc;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
}

.imgcarousel {
    width:100%;
    height:300px;
}
.nouveautes {
    color: rgb(255, 213, 0);
    font-size: 2em;
    font-weight: bold;
}

